@charset "UTF-8"
/*===============
共通部分
================*/
html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family:  "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #FFFFFF;
}
.container {
  width: 100%;
  margin: 0;
}
h1,h2,h3,h4 {
  margin: 0;
  font-weight: 700;
  color: #505050;
}
h3 {
  font-size: 1.55rem;
  line-height: 100%;
}
p {
  margin: 0;
  font-weight: 500;
  color: #505050;
}
a {
  text-decoration: none;
  margin: 0;
  font-weight: 500;
  color: #505050;
}
img {
  max-width: 100%;
  display: block;
}
.inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 100px;
}

/*===================
HEADER
===================*/

/*==========================
FIRST-VIEW
==========================*/

/*==========================
レスポンシブ対応
==========================*/
@media (max-width: 1070px) {
  .inner {
    padding: 0 5.33%;
  }
}
@media (max-width: 660px) {
  /*共通部分*/
 
  /*HEADER*/
  .nav-list {
    display: none;
  }
  .title a {
    font-size: 20px;
  }
}