@charset "UTF-8";
/*===============
共通部分
================*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family:  "Noto Sans JP", sans-serif;
  font-style: normal;
  background-color: #FFFFFF;
}
#container {
  width: 100%;
  margin: 0;
}
h1,h2,h3 {
  margin: 0;
  font-weight: 700;
  color: #505050;
}
h2 {
  font-size: 2.5rem;
  line-height: 1;
  position: relative;
  text-align: center;
}
h2 img {
  margin: 0 2rem;
  vertical-align: middle;
}
.sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0;
  color: #505050;
}
a {
  text-decoration: none;
  margin: 0;
  font-weight: 500;
  line-height: 1;
  color: #505050;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
ul {
  list-style: none; 
}
.green-bg {
  background-color: #E6F4F5;
}
.inner {
  max-width: 1080px;
  margin: 0 auto;
  padding-inline: 10rem;
}
.pc-none {
  display: none;
}
.sp-none {
  display: block;
}

/*===================
 * { outline: 1px solid red;}
HEADER
===================*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 5rem;
  background-color: #FFFFFF;
}
.header-inner {
  max-width: 1080px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 99px;
  padding-right: 60px;
}
.title {
  display: flex;
  align-items: center;
  height: 100%;
  transition: 0.4s ease;
}
.title:hover {
  opacity: .5;
}
.title-icon {
  height: 100%;
  padding-right: 9.4px;
  display: flex;
  align-items: center;
}
.title-text {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 0.2rem;
}
.header-nav {
  height: 100%;
}
.header-nav-list {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: calc(10 / 1080 * 100vw);
}
.header-nav-button {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 0.4rem;
  position: relative;
}
.header-nav-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 100%;
  height: 1px;
  background-color: #0D96A0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
.header-nav-button:hover::after {
  transform: scaleX(1);
}
.header-nav a {
  font-size: 1.4rem;
  font-weight: 700;
}
/*==========================
FIRST-VIEW
==========================*/
#first-view {
  padding-top: 5rem;
  width: 100%;
  height: auto;
  position: relative;
}
.fv-text-bg {
  position: absolute;
  background-color: #FFFFFFB3;
  top: calc(202 / 1080* 100vw);
  width: calc(492 / 1080 * 100vw);
  height: calc(210 / 1080 * 100vw);
  padding-top: calc(29 / 1080 * 100vw);
  padding-left: calc(99 / 1080 * 100vw);
  z-index: 100;
}
.fv-text p {
  font-size: calc(25 / 1080 * 100vw);
  font-weight: 700;
  line-height: 1;
  margin-bottom: calc(13 / 1080 * 100vw);
}
.fv-text h1 {
  font-size: calc(40 / 1080 * 100vw);
  line-height: 1.5;
  color: #0D96A0;
}
/*==========================
MAIN
==========================*/
#main {
  padding-block: 6rem;
}
.main-textarea {
  width: 100%;
  position: relative;
}
.main-textarea h2 {
  font-size: 3rem;
  line-height: calc(50 / 30);
  color: #0D96A0;
}
.main-textarea p {
  font-size: 1.8rem;
  line-height: calc(33 / 18);
  font-weight: 500;
  text-align: center;
  padding-top: 1.5rem;
}
.decoration {
  position: absolute;
  top: 11.3rem;
  right: 7.6rem; 
  z-index: 100;
}
/*==========================
ABOUT
==========================*/
#about {
  padding-block: 7.1rem 6.8rem;
}
.about-content {
  width: 100%;
  margin-top: 5.2rem;
  display: grid;
  gap: 5rem;
}
.about-item {
  width: 100%;
  display: flex;
}
.reverse-item {
  flex-direction: row-reverse;
}
.about-item-img {
  width: 50%;
}
.about-content-text {
  width: 50%;
  height: auto;
  margin-top: 4.9rem;
  padding-left: 4.4rem;
}
.about-content-text h3 {
  font-size: 2.2rem;
  line-height: calc(33 / 22);
}
.about-content-text p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(33 / 18);
  margin-top: 1.9rem;
}
.reverse-text {
  margin-top: 4.8rem;
  padding-left: 0;
}
/*==========================
SERVICE
==========================*/
#service {
  padding-block: 7.1rem 5.9rem;
}
.service-content {
  margin-top: 5.1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.service-item-text {
  margin-top: 1.9rem;
}
.service-item-text h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(25 / 20);
  text-align: center;
}
.service-item-text p {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: calc(30 / 17);
  padding-top: 0.8rem;
}
/*==========================
NEWS
==========================*/
#news {
  padding-block: 7rem 6.8rem;
}
.news-list {
  width: 100%;
  margin-top: 5rem;
  border-top: 1px solid #707070;
}
.news-item {
  width: 100%;
  border-bottom: 1px solid #707070;
}
.news-item a{
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 1.9rem;
  padding-block: 1.9rem 2rem;
  transition: 0.4s ease;
}
.news-item a:hover {
  opacity: .5;
}
.date {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 100%;
}
.news-title {
  width: 16rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 100%;
  color: #0D96A0;
  margin-left: 2.5rem;
}
.news-content {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 100%;
  padding-left: 4.9rem;
}
/*==========================
レスポンシブ対応
==========================*/
@media (max-width: 1079px) {
  /*共通*/
  .inner {
    padding-inline: calc(100 / 1080 * 100vw);
  }
  /*HEADER*/
  .header-inner {
    padding-left: calc(99 / 1080 * 100vw);
    padding-right: calc(60 / 1080 * 100vw);
  }
  /*MAIN*/
  .main-textarea h2 {
    font-size: calc(30 / 1080 * 100vw);
    line-height: calc(50 / 30);
    color: #0D96A0;
  }
  .main-textarea p {
    font-size: calc(17 / 1080 * 100vw);
    line-height: calc(33 / 18);
    text-align: center;
    padding-top: 1.5rem;
  }
  .decoration {
    position: absolute;
    top: 69%;
    right: 7%;  
    z-index: 100;
  }
  /*ABOUT*/
  .about-content-text {
    margin-top: calc(49 / 1080 * 100vw);
    padding-left: calc(44 / 1080 * 100vw);
  }
  .about-content-text h3 {
    font-size: calc(22 / 1080 * 100vw);
    line-height: calc(33 / 22);
  }
  .about-content-text p {
    font-size: calc(18 / 1080 *100vw);
    line-height: calc(33 / 18);
    margin-top: calc(19 / 1080 * 100vw);
  }
  .reverse-text {
    margin-top: calc(48 / 1080 * 100vw);
    padding-left: 0;
  }
  /*SERVICE*/
  .service-content {
    gap: calc(50 / 1080 * 100vw);
  }
  .service-item-text {
    margin-top: calc(19 / 1080 * 100vw);
  }
  .service-item-text h3 {
    font-size: calc(20 / 1080 * 100vw);
  }
  .service-item-text p {
    font-size: calc(17 / 1080 * 100vw);
    padding-top: calc(8 / 1080 * 100vw);
  }
  /*NEWS*/
  .news-item a{
    padding-left: calc(19 / 1080 * 100vw);
    padding-block: calc(19 / 1080 * 100vw) calc(20 / 1080 * 100vw);
  }
  .date {
    font-size: calc(17 / 1080 * 100vw);
  }
  .news-title {
    width: calc(160 / 1080 * 100vw);
    font-size: calc(20 / 1080 * 100vw);
    margin-left: calc(25 / 1080 * 100vw);
  }
  .news-content {
    font-size: calc(17 / 1080 * 100vw);
    padding-left: calc(49 / 1080 * 100vw);
  }
}
@media (max-width: 770px) {
  /*共通部分*/
  .inner {
    padding-inline: calc(20 / 375 * 100vw);
  }
  .pc-none {
    display: block;
  }
  .sp-none {
    display: none;
  }
  /*HEADER*/
  .header-inner {
    padding-inline: calc(20 / 375 * 100vw);
  }
  .header-nav {
    display: none;
  }
  .title-text {
    font-size: 2rem;
    padding: 0;
  }
  /*FIRST-VIEW*/
  .fv-text-bg {
    top: unset;
    left: 0;
    bottom: 0;
    width: calc(311 / 375 * 100vw);
    height: calc(148 / 375 * 100vw);
    padding-top: calc(23 / 375 * 100vw);
    padding-left: calc(20 / 375 * 100vw);
  }
  .fv-text p {
    font-size: calc(20 / 375 * 100vw);
    font-weight: 700;
    line-height: 1;
    margin-bottom: calc(11 / 375 * 100vw);
  }
  .fv-text h1 {
    font-size: calc(30 / 375 * 100vw);
    line-height: calc(40 / 30);
    color: #0D96A0;
  }
  /*MAIN*/
  #main {
    padding-block: 4.9rem 3.9rem;
  }
  .main-textarea h2 {
    font-size: calc(25 / 375 * 100vw);
    line-height: calc(35 / 25);
  }
  .main-textarea p {
    font-size: calc(16 / 375 * 100vw);
    line-height: calc(30 / 16);
    text-align: left;
    padding-top: 1.7rem;
  }
  .decoration {
    top: 76%;
    right: 7.8%; 
  }
  /*ABOUT*/
  #about {
    padding-block: 5.8rem 3.5rem;
  }
  .about-content {
    width: 100%;
    margin-top: calc(46 / 375 * 100vw);
    display: grid;
    gap: 4.2rem;
    }
  .about-item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-item-img {
    width: 100%;
  }
  .about-content-text {
    width: 100%;
    height: auto;
   margin-top: calc(26 / 375 * 100vw);
   padding-left: 0;
  }
  .about-content-text h3 {
    font-size: calc(20 / 375 * 100vw);
    line-height: calc(30 / 20);
    text-align: center;
  }
  .about-content-text p {
    font-size: calc(16 / 375 * 100vw);
    line-height: calc(30 / 16);
    margin-top: calc(8 / 375 * 100vw);
  }
  /*SERVICE*/
  #service {
    padding-block: 5rem 3.9rem;
  }
  .service-content {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(39 / 375 * 100vw);
  }
  .service-item-text {
    margin-top: calc(30 / 375 * 100vw);
  }
  .service-item-text h3 {
    font-size: calc(20 / 375 * 100vw);
    line-height: calc(30 / 20);
  }
  .service-item-text p {
    font-size: calc(16 / 375 * 100vw);
    line-height: calc(30 / 16);
    padding-top: calc(7 / 375 * 100vw);
  }
  /*NEWS*/
  #news {
    padding-block: 5rem;
  }
  .news-item a{
    display: block;
    height: 100%;
    align-items: center;
    padding-inline: calc(10 / 375 * 100vw) calc(3 / 375 * 100vw);
    padding-block: 2.7rem 2.8rem;
  }
  .date {
    font-size: calc(17 / 375 * 100vw);
    line-height: calc(25 / 17);
    width: 100%;
  }
  .news-title {
    font-size: calc(20 / 375 * 100vw);
    line-height: calc(25 / 20);
    padding-top: calc(2 / 375 * 100vw);
    margin-left: 0;
    width: 100%;
  }
  .news-content {
    font-size: calc(16 / 375 * 100vw);
    line-height: calc(24 / 16);
    padding-top: calc(6 / 375 * 100vw);
    padding-left: 0;
    width: 100%;
  }
}